/* Style untuk elemen body */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Warna latar belakang */
    margin: 0; /* Hilangkan margin default */
    padding: 0; /* Hilangkan padding default */
}

/* Style untuk elemen h1 */
h1 {
    text-align: center; /* Teks rata tengah */
    margin-top: 20px; /* Jarak atas */
    margin-bottom: 20px; /* Jarak bawah */
}


table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}
th {
    padding: 10px;
    border: 1px solid #ddd; /* Garis tepi */
    text-align: left; /* Teks rata kiri */
}

/* Style untuk sel data tabel */
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Style untuk tombol */
button {
    padding: 5px 10px; /* Padding tombol */
    border: none; /* Hilangkan border */
    background-color: #007bff; /* Warna latar tombol */
    color: #fff; /* Warna teks tombol */
    cursor: pointer; /* Kursor pointer saat di atas tombol */
}

/* Style untuk tombol saat dihover */
button:hover {
    background-color: #0056b3; /* Warna latar saat dihover */
}
